{% extends 'base.html' %}

{% block content %}
    <h1>User Criteria List</h1>
	<br/>
    <table class="table">
      <thead>
        <tr>
          <th>Colaborador</th>
          <th>Assiduidade</th>
          <th>Responsabilidade</th>
		  <th>Disponibilidade</th>
		  <th>Conhecimento</th>
		  <th>Produtividade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="200">Joao Almeida</td>
          <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria1" min="1" max="3"></td>
          <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria2" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria3" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria4" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria5" min="1" max="3"></td>
        </tr>
        <tr>
          <td>Sara Torres</td>
          <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria1" min="1" max="3"></td>
          <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria2" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria3" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria4" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria5" min="1" max="3"></td>
        </tr>
		<tr>
			<td>Carlos Sousa</td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria1" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria2" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria3" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria4" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria5" min="1" max="3"></td>
		  </tr>
		  <tr>
			<td>Catarina Silva</td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria1" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria2" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria3" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria4" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria5" min="1" max="3"></td>
		  </tr>
        <!-- Add more rows for other users here -->
      </tbody>
    </table>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="submit" class="btn btn-success">Submit</button>
{% endblock %}
