{% extends 'base.html' %}

{% block content %}
	<h1>User Criteria List</h1>
	<br/>
	<h5>{{evals.first.id_event}}</h5>
	<br/>
	<table class="table">
	  <thead>
		<tr>
		  <th>Colaborador</th>
		  <th tabindex="0" data-toggle="tooltip" data-placement="top" 
		  		  title="Avalia a presença efetiva no posto de trabalho e o respeito 
pelos horários estabelecidos.">Assiduidade</th>
		  <th tabindex="0" data-toggle="tooltip" data-placement="top" 
			title="Observa sistematicamente os regulamentos e regras da Vicaima, 
nomeadamente no âmbito da higiene e segurança no trabalho, 
organização e limpeza; assim como revela capacidade de 
utilizar as ferramentas de que dispõe de forma a não haver 
desperdícios de material.">
			Responsabilidade
			</th>
		  <th tabindex="0" data-toggle="tooltip" data-placement="top" 
		  title="Demonstra disponibilidade para aceitar trabalho suplementar assim como 
iniciativa na resolução de problemas não previstos.">Disponibilidade</th>
		  <th tabindex="0" data-toggle="tooltip" data-placement="top" 
		  title="Capacidade para aplicar os conhecimentos e técnicas de trabalho essenciais 
para o desempenho das suas tarefas, assim como a preocupação de se manter atualizado 
e procurar oportunidades de desenvolvimento profissional.">Conhecimento</th>
		  <th tabindex="0" data-toggle="tooltip" data-placement="top" 
		  title="Apresenta volume e qualidade de trabalho num intervalo de tempo satisfatório.">
		  Produtividade</th>
		  <th>Total</th>
		</tr>
	  </thead>
	  <tbody>
		{% for eval in evals %}
		<tr>
		  <td width="200">{{eval.id_evaluated.fname}} {{eval.id_evaluated.lname}}</td>
		  {% for item in criteria %}
		  <td><input type="number" class="form-control criteria-input" data-user={{eval.id_evaluated}} data-criteria="criteria1" min="1" max="3"></td>
		  {% endfor %}
		  <td class="total-column">0</td>
		</tr>
		{% endfor %}
		<!-- <tr>
		  <td width="200">Joao Almeida</td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria1" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria2" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria3" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria4" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user1" data-criteria="criteria5" min="1" max="3"></td>
		  <td class="total-column">0</td>
		</tr>
		<tr>
		  <td>Sara Torres</td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria1" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria2" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria3" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria4" min="1" max="3"></td>
		  <td><input type="number" class="form-control criteria-input" data-user="user2" data-criteria="criteria5" min="1" max="3"></td>
		  <td class="total-column">0</td>
		</tr>
		<tr>
			<td>Carlos Sousa</td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria1" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria2" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria3" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria4" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user3" data-criteria="criteria5" min="1" max="3"></td>
			<td class="total-column">0</td>
		  </tr>
		  <tr>
			<td>Catarina Silva</td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria1" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria2" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria3" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria4" min="1" max="3"></td>
			<td><input type="number" class="form-control criteria-input" data-user="user4" data-criteria="criteria5" min="1" max="3"></td>
			<td class="total-column">0</td>
		</tr> -->
		<!-- Add more rows for other users here -->
	  </tbody>
	</table>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="submit" class="btn btn-success">Submit</button>
	<script>
		$(document).ready(function () {
			$('.criteria-input').change(function () {
				var $row = $(this).closest('tr');
				var total = 0;
				$row.find('.criteria-input').each(function () {
					total += parseInt($(this).val()) || 0;
				});
				$row.find('.total-column').text(total);
			});
		});
	</script>
{% endblock %}
