{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ADD EVENT</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
	{% include 'navbar.html' %}
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	{% bootstrap_messages %}

	<div class="container my-3">
		<div class="card">
			<div class="card-body">
				<form method="get" class="form-inline">
					<label for="status" class="mr-2">Filter by status:</label>
					<select name="status" id="status" class="form-control" onchange="this.form.submit()">
						<option value="all">All</option>
						<option value="true">Finished</option>
						<option value="false">Ongoing</option>
					</select>
				</form>
			</div>
		</div>
	</div>

	<div class="d-flex flex-wrap justify-content-around">
		{% for event in events %}
		<div class="card mb-3" style="width: 15rem;">
			<div class="card-header text-white d-flex flex-wrap justify-content-around" style="background-color: {% if event.status %}grey{% else %}green{% endif %};">
				<a href="{% url 'eval_list' %}" style="color: white;">Event {{ event.id_event }}</a>
			</div>
			<div class="card-body">
				<p class="card-text"><b>Begin Date:</b> {{ event.begin_event }}</p>
				<p class="card-text"><b>End Date:</b> {{ event.end_event }}</p>
				<p class="card-text"><b>Evaluator: </b> {{event.evaluator}}</p>
				<p class="card-text"><b>Type: </b> {{ event.get_type_of_evaluation_display }}</p>
				<p class="card-text"><b>Evaluator: </b> {{event.evaluator}}</p>
				<p class="card-text">
					<b>Evaluated:</b> 
					<ul id="evaluated-{{ event.id_event }};">
					{% for evaluated in event.evaluated.all %}
						<li>{{ evaluated }}</li>
					{% endfor %}
					</ul>
				</p>
			</div>
			<div class="card-footer d-flex flex-wrap justify-content-around" >
				{% if not event.status %}
				<a href="{% url 'change_status' event.id_event %}" class="btn btn-danger">Close Event</a>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>

</body>
</html>